<h1>Burger Portal</h1>

<div class="container">
  <div class="row">
    <form>
      <p>
        <label for="name">Burger</label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <button id="addBurger">Add Burger</button>
      </p>
    </form>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h4>Not Eaten</h4>
      {{#each burgers}}
      {{#unless this.isEaten}}
      <p class="isEaten" data-id="{{this.id}}">{{ this.name }}</p>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-md-6">
      <h4>Eaten</h4>
      {{#each burgers}}
      {{#if this.isEaten}}
      <p class="delete" data-id="{{this.id}}">{{ this.name }}</p>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>